.navbar {
    -webkit-box-shadow: 0px -6px 42px -8px rgba(49,117,108,1);
    -moz-box-shadow: 0px -6px 42px -8px rgba(49,117,108,1);
    box-shadow: 0px -6px 42px -8px rgba(49,117,108,1);
    /* the rest of your styling */
}
